.hero {
    position: relative;
    text-align: center;
    height: 20em;
    flex-wrap: wrap;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.logo {
    position: absolute;
    left: 1.5em;
    width: 7em;
}

.Huvudnavigering ul {
    display: flex;
    list-style: none;
    place-content: center;
    gap: 2em;
    padding-top: 2em;
}

.meny {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.5em;
}

.meny a {

    background-color: rgb(255, 255, 255);
    padding: 0.2em;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

body {
    background-color: rgba(142, 154, 177, 0.336);
}

.intro {
    margin-top: 0;
    padding-top: 0;
}

.intro>p {
    width: min(80%, 40rem);
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
    color: #2c2c2c;
}

.bilder {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 3em;
    padding: 1em;
    text-align: center;
}

.bilder picture {
    display: flex;
    justify-content: center; 
}

.bilder img {
    max-width: 100%;
    width: 60%;       
    height: auto;
    display: block;   
}


footer {
    background-color: #97cff5;
    padding: 0.5em;
}

footer p {
    font-size: 1em;
    line-height: 1em;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    padding: 3em
}

section img {
    width: 25rem;
    height: auto;
}

section p {
    flex: 1;
    min-width: 250px;
    max-width: 500px;
    line-height: 1.2;
    padding-top: 5rem;
    font-size: 1.5em;
}
section h2 {
    width: 100%;
    margin-bottom: 1em;
}
section h1 {
    width: 100%;
    margin-bottom: 1em;
}


.me {
    display: flex;
}

.me p {
    place-content: center;
    padding-left: 2em;
    font-family: sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}


@media (max-width: 700px) {
    section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section img {
        width: 90%;
        max-width: 350px;
    }

    section p {
        max-width: 90%;
    }

    .header {
        justify-content: center;
        text-align: center;
    }

    .Huvudnavigering ul {
        flex-direction: column;
        gap: 1em;
    }

    .menu {
        font-size: 1.1em;
    }

    .logo {
        width: 6em;
    }
}